name: deploy resources

env:
  TF_VAR_cloudflare_zone_id: ${{ secrets.CLOUDFLARE_ZONE_ID }}
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ vars.AWS_REGION }}

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: 'Select an action to perform'
        options:
          - apply
          - destroy
        required: true
        default: apply

  push:
    branches:
      - main

jobs:
  check-changed-directory:
    name: Test changed-files
    uses: chukwukelu2023/automation-hub/.github/workflows/detect-file-change.yaml@detect-changes

  plan:
    needs: check-changed-directory
    # if: contains(needs.check-changed-directory.outputs.check-changes, '/infra/')
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./infra/terraform

    outputs:
      plan_exit_code: ${{ steps.plan.outcome }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        id: plan
        run: terraform plan
  

  apply:
    needs: plan
    runs-on: ubuntu-latest

    environment: terraform  #  manual approval
    
    defaults:
      run:
        working-directory: ./infra/terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Install latest Ansible
        run: |
          sudo apt-get update -y
          sudo apt-get install -y software-properties-common
          sudo add-apt-repository --yes --update ppa:ansible/ansible
          sudo apt-get install -y ansible


      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        if: |
          (github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'apply') ||
          (github.event_name == 'push')
        run: terraform apply -auto-approve

      - name: Terraform Apply
        if: github.event.inputs.action == 'destroy'
        run: terraform destroy -auto-approve

  update-auth:
    needs: check-changed-directory
    if: contains(needs.check-changed-directory.outputs.check-changes, '/auth-api/')
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/ansible
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Ansible
        run: ansible-playbook -i inventory.ini playbook.yml --tags deploy --extra-vars "service_name=auth-api"


  update-frontend:
    needs: check-changed-directory
    if: contains(needs.check-changed-directory.outputs.check-changes, '/frontend/')
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/ansible
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Ansible
        run: ansible-playbook -i inventory.ini playbook.yml --tags deploy --extra-vars "service_name=frontend"

  update-log:
    needs: check-changed-directory
    if: contains(needs.check-changed-directory.outputs.check-changes, '/log-message-processor/')
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/ansible
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Ansible
        run: ansible-playbook -i inventory.ini playbook.yml --tags deploy --extra-vars "service_name=log-message-processor"

  update-todos:
    needs: check-changed-directory
    if: contains(needs.check-changed-directory.outputs.check-changes, '/todos-api/')
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/ansible
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Ansible
        run: ansible-playbook -i inventory.ini playbook.yml --tags deploy --extra-vars "service_name=todos-api"

  update-users:
    needs: check-changed-directory
    if: contains(needs.check-changed-directory.outputs.check-changes, '/users-api/')
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/ansible
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Ansible
        run: ansible-playbook -i inventory.ini playbook.yml --tags deploy --extra-vars "service_name=users-api"

  update-all:
    needs: check-changed-directory
    if: contains(needs.check-changed-directory.outputs.check-changes, 'docker-compose.yaml')
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/ansible
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Ansible
        run: ansible-playbook -i inventory.ini playbook.yml --tags deploy